@font-face {
  font-family: heading;
  src: url(/fonts/Heading-Now-Variable.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: heading;
  background-color: #000;
  overflow-x: hidden;
}

.max-container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-stretch: 550%;
  align-items: center;
  height: 120px;
  position: fixed;
  width: 100%;
  padding: 0 40px;
  z-index: 11;
}

.logo h1 {
  font-stretch: 750%;
  font-weight: 400;
}

ul {
  display: flex;

  list-style: none;
  text-transform: uppercase;
  font-weight: 200;
  font-stretch: 1000%;
}

ul li {
  font-size: 14px;
}

ul li:hover {
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-in;
}

ul li:nth-child(2) {
  margin-left: 60px;
}

ul li:nth-child(3) {
  margin-left: 120px;
}

.page1 {
  height: 100vh;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}

.page1 .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 10;
  transform: translateY(100%);
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.nested-box {
  width: 100%;
  height: 100%;
  height: 56.25vw;
  clip-path: inset(20%);
}

.page1 h1 {
  color: #fff;
  font-size: 49vw;
  font-stretch: 260%;
  /* letter-spacing: 2rem; */
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 1000;
  padding-left: 40px;
  position: relative;
  top: -110px;
}

.page2 {
  height: 100vh;
  background-color: cyan;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page3 {
  height: 100vh;
  background-color: pink;
}
